<div class="shop-p__collection">
    <div class="row is-list-active">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product-m">
                <div class="product-m__thumb">
                    {% for i in list %}

                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                        <img class="aspect__img" src="{{ i.picture.url }}" alt=""></a>
                    <div class="product-m__quick-look">

                        <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>
                    <div class="product-m__add-cart">

                        <a class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-cart">Add to Cart</a></div>
                {% endfor %}
                    </div>
                <div class="product-m__content">
                    <div class="product-m__category">

                        <a href="shop-side-version-2.html">Men Clothing</a></div>
                    <div class="product-m__name">

                        <a href="product-detail.html">New Fashion B Nice Elegant</a></div>
                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                        <span class="product-m__review">(23)</span></div>
                    <div class="product-m__price">$125.00</div>
                    <div class="product-m__hover">
                        <div class="product-m__preview-description">

                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></div>
                        <div class="product-m__wishlist">

                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>